

@{
    Layout = "~/Views/Shared/_Layout.cshtml";   
 }
@{
    ViewBag.Title = "ReadQuran";
}

<h2>ReadQuran</h2>
<p><a href="~/Content/Quran_Picx/QuranScript/AlQuran15Lines-SaudiColor.pdf">click to read</a></p>

 


<!--you can copy the below code to your htm page-----------------------------begin--->
<!--change the width and height value as you want.--> 
<!-- Do change "index.htm" to your real html name of the flippingbook--> 


<iframe  style="width:600px;height:500px"  src="~/Content/Quran_Picx/QuranScript/AlQuran15Lines-SaudiColor.pdf"  seamless="seamless" scrolling="no" frameborder="0" allowtransparency="true"></iframe>

<!--you can copy the above code to your htm page-----------------------------end--->  
 
